:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  --ligh-gray: hsl(0, 0%, 81%);
  --ligh-grayish-blue: hsl(210, 46%, 95%);

  --font: "Barlow Semi Condensed", sans-serif;
}
* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;

  font-family: var(--font);
  font-size: 62.5%;
  height: 100vh;

  background-color: #edf2f8;
}
main {
  max-width: 520px;
  display: grid;
  gap: 1.5rem;
  margin: 5rem 1.5rem;
}
.main--sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
section {
  display: grid;
  grid-template-rows: unset;
  padding: 20px 22px 30px;
  border-radius: 10px;
  box-shadow: 20px 15px 20px #d3dae2;
}

section > .voter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Daniel {
  background-color: var(--moderate-violet);
  position: relative;
}

.Daniel > .voter:after {
  content: url(../images/bg-pattern-quotation.svg);

  position: absolute;
  top: 0.1rem;
  right: 2rem;
}
section > .voter > .voter-image > img {
  width: 32px;
  margin-right: 15px;
  border-radius: 50%;
  justify-self: start;
}

section.Daniel > .voter > .voter-image > img,
section.Patrick > .voter > .voter-image > img {
  border: 2px solid #a775f2;
}

section > .voter > .voter-name > span {
  display: block;
  margin-top: 1px;
}

.voter > .voter-name,
.vote-title {
  color: var(--ligh-grayish-blue);
  margin-bottom: 1rem;
  width: 92.5%;
}
.Jeanette > .voter > .voter-name,
.Jeanette > .vote-title,
.Kira > .voter > .voter-name,
.Kira > .vote-title {
  color: hsl(217, 19%, 35%, 90%);
}
.voter > .voter-name {
  font-size: 0.8rem;
  font-weight: normal;
  margin-bottom: 0;
}
.vote-title {
  position: relative;
  margin-top: 0.7rem;
  font-size: 1.248rem;
  line-height: 1.5rem;
}
.voter > .voter-name > span,
.vote-description {
  color: rgb(255, 255, 255, 0.7);
  opacity: 0.7;
  font-size: 0.7rem;
  width: 87.2%;
}
.Jeanette > .voter > .voter-name > span,
.Jeanette > .vote-description,
.Kira > .voter > .voter-name > span,
.Kira > .vote-description {
  color: hsl(0, 0%, 50%);
}
.voter > .voter-name > span {
  margin-top: 0;
}
.vote-description {
  line-height: 1.1rem;
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.jonathan {
  background-color: var(--very-dark-grayish-blue);
}
.Jeanette {
  background-color: var(--white);
}
.Patrick {
  background-color: var(--very-dark-blackish-blue);
}
.Kira {
  background-color: var(--white);
}
/* ---------------------- Media Query -------------------------- */
@media (min-width: 1140px) {
  main {
    max-width: 1110px;
    grid-template-areas:
      "one one two three"
      "four five five three";
    grid-template-columns: 255px 255px 255px;
    grid-template-rows: 282px 267px;
    gap: 1.5rem 1.7rem;
  }
  .Daniel {
    grid-area: one;
    padding-right: 11px;
  }
  .jonathan {
    grid-area: two;
  }
  .Jeanette {
    grid-area: four;
    padding-right: 40px;
  }
  .Patrick {
    grid-area: five;
    padding-bottom: 22px;
    padding-right: 30px;
  }
  .voter > .voter-name > span,
  .vote-description {
    width: 96%;
  }
  .Jeanette > .vote-description,
  .Patrick > .vote-description {
    align-self: center;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .Kira {
    grid-area: three;
  }
  section {
    padding: 20px 37px 22px 30px;
    grid-template-rows: 40px 1fr 1fr;
  }
  .voter > .voter-name,
  .vote-title {
    width: 100%;
    margin-bottom: 0;
  }
  .Daniel > .voter:after {
    right: 5rem;
  }
}
